{% extends "layout.html" %}
{% block head %}
<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='./css/signin.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<body>

<div class="container">

	<form class="form-signin" role="form" method='post'>
		<h2 class="form-signin-heading">Name your game</h2>
		<label class="sr-only">Name</label>
		<input type="text" name="game" class="form-control" placeholder="Alex's game" required autofocus>
		<br>
		<h2 class="form-signin-heading">Phone number (optional)</h2>
		<h5>so players can text you with questions</h5>
		<label class="sr-only">Phone</label>
		<input type="tel" name="phone_number" class="form-control" placeholder="6175092843" autofocus>		
		<h3>These names are already taken:</h3>

		<table class="table table-striped">
			<tbody>
				{% for date_time, name in current_games %}
				<tr>
					<td>{{ name }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Create game</button>

	</div>

</form>

<!-- /container -->
</body>
{% endblock %}