{% extends "layout.html" %} {% block body %}

<body role="document">
    <div class="container theme-showcase" role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>{{ name }}, you are <font size="2">{{ role }}</font>
            {% if phone_number %}
            <br>Questions? Text the host at <a href="sms:{{ phone_number }}">{{ phone_number }}</a>
            {% endif %}</h1>
        </div>
        <form action="{{ url_for('role') }}">
          <button type="submit" class="btn btn-primary btn-lg btn-block" href=>Refresh</button>
        </form>        
        <br>
    </div>
    </div>
    <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='./js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/docs.min.js') }}"></script>
</body>
{% endblock %}
